@media print {
  .call-out {
    display: none;
  }
  .site-footer {
    display: none;
  }
  .site-header {
    display: none;
  }
  .sidebar-module {
    display: none;
  }
  article.li .tags {
    display: none;
  }
}

