@media print {
  html, body {
    height: auto;
  }
  .call-out {
    display: none;
  }
  .site-footer {
    display: none;
  }
  .site-header {
    display: none;
  }
  .sidebar-module {
    display: none;
  }
  article.li .tags {
    display: none;
  }
  a[href]:after {
    content: none !important;
  }
}

